<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Name: Sienna Brent</p>
    <p>Current Grade: Freshman</p>
    <p>Major: Electrical Engineering</p>
    <p><a href="{{ url_for('assignment') }}">assignments page</a></p>
    <p><a href="{{ url_for('classpage') }}">class page</a></p>
    <p><a href="https://www.planet.com/"> favorite website </a></p>
    <p><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/91425147_10221587172816318_2987358996584726528_n.jpg?_nc_cat=104&_nc_sid=8bfeb9&_nc_ohc=-gsicRTObDQAX8iNZp2&_nc_ht=scontent-atl3-1.xx&oh=eeaf370bc7ce0ef468e18ea06e01b9fe&oe=5EE62AF9"></img></p>
    </body>
    
</html>

